{% extends 'layout.html' %}
{% block content %}
	<div class="card bg-light text-dark mb-3">
		<div class="card-body">
			<h5>Category : {{ catgname }} ({{ total_catg_post }})</h5>
		</div>
	</div>
	{% for post in posts.items %}
		<div class="card mb-3">
  			<h5 class="card-header">
  				<img src="{{ url_for('static',filename='profile_pics/'+ post.author.image_file) }}" class="mr-3 rounded-circle" style="width:50px;">
  				<a class="article-title text-dark" href="{{url_for('editpost',post_id=post.id)}}">{{ post.title }}</a>
  			</h5>
  			<div class="card-body">
    			<p class="card-text">{{ post.content | safe }}</p>
    		</div>
  			<div class="card-footer text-muted">
    			<small class="text-secondary">
    				Posted by : <a href="{{ url_for('user_posts',username=post.author.username) }}">{{ post.author.username }}</a>
    				<b>|</b> Posted on : {{ post.date_posted.strftime('%d-%m-%Y') }}
    				<b>|</b> Category <a href="#">
                  <span class="badge badge-pill badge-warning">{{ post.category }}</a></span>
    			</small>
  			</div>
		</div>
	{% endfor %}
	<div class="rounded-0 col-lg-13 mx-auto">
    	{% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
      		{% if page_num %}
        		{% if posts.page == page_num %}
          			<a class="btn btn-info mb-4 mt-2" href="{{ url_for('home',page=page_num)}}">{{ page_num }}</a>
        		{% else %}
          			<a class="btn btn-outline-info mb-4 mt-2" href="{{ url_for('home',page=page_num)}}">{{ page_num }}</a>
        		{% endif %}  
      		{% else %}
        		...
      		{% endif %}
    	{% endfor %}
   </div>		
{% endblock content %}